<!doctype html>
<html>
  <head>
  	<link href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/flatly/bootstrap.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
    <body>
    	<nav class="navbar-wrapper navbar-default navbar-fixed-top" role="navigation">
    		<div class="container">
    			<div class="navbar-header">
    				<a class="navbar-brand" href="#">Vacation Rentals</a>
    			</div>
    			<div class="collapse navbar-collapse navbar-ex1-collapse">
    				<div class="collapse navbar-collapse>"
    					<ul class="nav navbar-nav">
    						<li class="active"><a href="#"><span class="glyphicon gyphicon-home"></span>Span</a></li>
    						<li><a href="#"><span class="glyphicon glyphicon-star"></span>Top Destinations</a></li>
    		</div>
    	</nav>
      <h1 class="pad-here text-center"> Hello worlddd </h1>
      <div class="col-lg-1 centered">
      	<button type="button" class="btn btn-default">Click Me!</button>
      </div>
    </body>
  <html>